
set timeout=600

{% for entry in boot_pxe_entries %}
{% if entry.arch == "aarch64" %}
{% set kernel_boot = 'linux' %}
{% set initrd_boot = 'initrd' %}
{% else %}
{% set kernel_boot = 'linuxefi' %}
{% set initrd_boot = 'initrdefi' %}
{% endif %}

menuentry '{{ entry.dist }}_{{ entry.release }}_{{ entry.arch }}{% if entry.vnc %}_vnc{% endif %}' {
	{{ kernel_boot }} boot/{{ entry.dist | lower}}/{{ entry.release}}/{{ entry.arch }}/vmlinuz ip=dhcp net.ifnames=0 biosdevname=0 inst.repo=http://mirror.centos.org/centos/{{ entry.release }}/BaseOS/{{ entry.arch }}/os/ inst.lang=en_GB inst.keymap=be-latin1 {% if entry.vnc %}inst.vnc inst.vncpassword={{ boot_pxe_vncpass }}{% endif %}
  
  {{ initrd_boot }} boot/{{ entry.dist | lower}}/{{ entry.release}}/{{ entry.arch }}/initrd.img  
}

{% endfor %}

menuentry 'Refresh GRUB menu' {
	configfile  grub.cfg
}

menuentry 'Memory Test' {
	linuxefi memtest
}
