#!/bin/bash
# This part is for CentOS versions and we'll just point to mirror.centos.org to download content
for release in 9-stream 10-stream;
do
  for arch in i386 x86_64 aarch64 ppc64le; 
  do
    for file in vmlinuz initrd.img;
    do
     test -d /var/lib/tftpboot/boot/centos/${release}/${arch}/ || mkdir -p /var/lib/tftpboot/boot/centos/${release}/${arch}/
     pushd /var/lib/tftpboot/boot/centos/${release}/${arch}/ > /dev/null
      # Verify if ppc
      if [ "$arch" == "ppc64le" ] ; then
        pxe_path="ppc/ppc64"
      else
        pxe_path="images/pxeboot"
      fi
 
	full_path="http://mirror.stream.centos.org/${release}/BaseOS/${arch}/os/${pxe_path}/${file}"
     curl --silent -O ${full_path}
     popd > /dev/null
    done
  done
done

{% if boot_pxe_rhel_support %}
# This part is included only if we want RHEL boot support
for release in 8 9 10;
do
  for arch in x86_64 aarch64 ppc64le; 
  do
    for file in vmlinuz initrd.img;
    do
     test -d /var/lib/tftpboot/boot/rhel/${release}/${arch}/ || mkdir -p /var/lib/tftpboot/boot/rhel/${release}/${arch}/
     pushd /var/lib/tftpboot/boot/rhel/${release}/${arch}/ > /dev/null
      # Verify if ppc
      if [ "$arch" == "ppc64le" ] ; then
        pxe_path="ppc/ppc64"
      else
        pxe_path="images/pxeboot"
      fi
   
      if [[ "$arch" != "x86_64" ]] && [[ "$release" == "7" ]] ; then
        full_path="{{ rhel_deploy_mirror_url }}/${release}/${arch}/${pxe_path}/${file}"
      elif [[ "$arch" == "x86_64" ]] && [[ "$release" == "7" ]] ; then
	full_path="{{ rhel_deploy_mirror_url }}/${release}/${arch}/${pxe_path}/${file}"
      else
	full_path="{{ rhel_deploy_mirror_url }}/${release}/${arch}/${pxe_path}/${file}"
      fi
     curl --silent -O ${full_path}
     popd > /dev/null
    done
  done
done
{% endif %}

